<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SessionDuration" value="60" />
    <add key="strConn" value="server=jaguartrade.database.windows.net;database=db_PNG_JaguarTradeTool_test;uid=pngadmin;pwd=png@qazwsx123;connection timeout=0" />
    <add key="sUser" value="localapp" />
    <add key="sPassword" value="asdf@12345" />
    <add key="sDomain" value="ASTIXSOLUTIONS" />
    <add key="Title" value="Jaguar Trade Tool"/>
    <add key="Logo" value="NewImages/logo.jpg"/>
    <add key="VirtualPath" value="../"/>
    <add key="ImgPath" value="http://www.ltace.com/SFAImages/"/>
    <add key="flgMail" value="2" />
    <!--1 for Actual User and 2 for Test User -->

    <add key="MailServerString" value="smtp.gmail.com" />
    <add key="DMSUser" value="tjuksupport@astixsolutions.com" />
    <add key="DMSGPassword" value="tjuk@1234" />

    <add key="errTo" value="mukhtyar@astixsolutions.com,ashwani@astixsolutions.com" />
    <add key="errMailTo" value="saurav@astixsolutions.com" />
    <add key="errCc" value="" />
    <add key="errBCc" value="" />
    <add key="errorMsg" value="Some Technical Error,Please contact to Technical Team!!" />
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="server=jaguartrade.database.windows.net;database=db_PNG_JaguarTradeTool_test;uid=pngadmin;pwd=png@qazwsx123;connection timeout=0" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="600"></sessionState>
    <httpRuntime executionTimeout="240000" maxRequestLength="2147483647" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <codeSubDirectories>
        <add directoryName="CSCode" />
      </codeSubDirectories>
    </compilation>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="frmlogin.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>
